
@{
    ViewData["Title"] = "ProcessManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-title position-relative overflow-hidden shape-1 right">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-white p-md-5 p-3 d-inline-block">
                    <h1 class="font-w-3 mb-4"><span class="text-primary font-w-5">İş Süreçleri Yönetimi</span> </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Home")"><i class="las la-home me-1"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Ürün ve Hizmetler</li>
                            <li class="breadcrumb-item active" aria-current="page">İş Süreçleri Yönetimi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
</section>
<section class="hero-banner z-index-1 overflow-hidden py-8" data-bg-img="~/images/bg/04.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 mb-5 mb-lg-0 position-relative text-center" style="padding-bottom:5%">
                <!-- Image -->
                <img class="img-fluid topBottom" src="~/images/about/01.jpg" alt="">
            </div>
            <div class="col-12">
                <h1 class="mb-4">
                    Süreç Yönetim Yazılımı (BPM) @*<span class="font-w-6 px-2 text-primary text-uppercase my-2 d-inline-block" data-bg-color="rgba(0,73,208,0.05)">Büyütün</span>*@
                </h1>
                <hr class="lead mb-5 text-grey">
                <p>
                        İş Süreçleri Yönetimi, şirketlerin iş süreçlerinin yönetilmesi ve optimizasyonu ile iş birlikçi performansın geliştirilmesine odaklanan, operasyon yönetimi içerisinde bulunan bir alandır. Bu sebeple süreç optimizasyon süreci olarakta tanımlanmaktadır. İş Süreç Yönetimi, fonksiyonel olarak geleneksel hiyerarşik yönetim yaklaşımlarına odaklanmış organizasyonlara göre daha etkili, daha verimli ve değişime daha açık bir organizasyon yapısının oluşumuna olanak sağlamaktadır. Süreçler organizasyonların kazanç ve maliyetlerini büyük ölçüde etkilemektedir.

                <hr>
                        Opalfa İş Süreçleri Yönetimi Yazılımı ile işinizi organize edebilir ve otomatikleştirebilirsiniz. İş süreç yönetimi yaşam döngüsüne uygun olarak süreçlerinizi tasarlayabilir, modelleyebilir, çalıştırabilir, gözlemleyebilir ve iyileştirebilirsiniz. İnsan, entegrasyon ve doküman odaklı olan bu bütünleşik iş süreçleri yönetimi uygulaması içerisinde, BPMN 2.0 standartlarında iş kuralları, görevleri ve fonksiyonları tasarladığınız süreç bazlı yönetimi aracının yanında kurum içi işbirlikli çalışma platformunu destekleyecek iletişim, iş trend ve fırsatlarını rapor ve göstergelerle tanımlanmasına olanak sağlayan iş analitiği, elektronik doküman ve içeriklerin güvenli bir şekilde yönetimine olanak sağlayan doküman yönetimi ve gelişmiş entegrasyon araçları bulunmaktadır.
                


                </p>
                <!-- Buttons -->@* <a href="#" class="btn btn-dark me-2" data-toggle="modal" onclick="RemoveFieldsModal()" data-target="#newCustomerModal">
                    İletişime Geçin
                </a>*@
                @*<a href="#" class="btn btn-white ">
                Learn More
                </a>*@
            </div>
        </div>
    </div>
</section>


