
@{
    ViewData["Title"] = "Support";
}


<!--login start-->

<section>
    <div class="container">
        <div class="row align-items-center justify-content-between" style="padding-bottom:3%">
            <div class="col-lg-6 col-12">
                <img class="img-fluid" src="~/images/login-img.png" alt="">
            </div>
            <div class="col-lg-5 col-12 mt-5 mt-lg-0">
                <div class="mb-5">
                    <h6 class="font-w-5 mb-3 position-relative py-1 px-3 text-primary rounded subtitle-effect box-shadow d-inline-block">
                        <span>Destek</span>
                    </h6>
                    <h2 class="mb-0"><span class="font-w-5">Destek Sistemi</span> Giriş</h2>
                </div>
                <form id="contact-form" method="post" action="http://themeht.com/stacht/ltr/php/contact.php">
                    <div class="messages"></div>
                    <div class="mb-3">
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Kullanıcı Adı" required>
                    </div>
                    <div class="mb-3">
                        <input id="form_password" type="password" name="password" class="form-control" placeholder="Şifre" required>
                    </div>
                    <div class="mt-4 mb-5">
                        <div class="remember-checkbox d-flex align-items-center justify-content-between">
                            <div class="form-check">
                                @* <input class="form-check-input" type="checkbox" value="" id="check1">
                                    <label class="form-check-label" for="check1">Remember me</label>*@
                            </div> <a class="btn-link" href="#">Şifremi Unuttum</a>
                        </div>
                    </div> <button class="btn btn-primary">Giriş Yap</button>
                </form>
                @*<div class="d-flex align-items-center mt-4">
                        <span class="text-muted me-1">Don't have an account?</span>
                        <a href="signup.html">Sign Up</a>
                    </div>*@
            </div>
        </div>
    </div>
</section>

<!--login end-->
<!--newsletter start-->




@section pageFooterScript{


    <script>
        function NewRegisterForNotification() {
             
            if ($('#notificationEmail').val() === "" || $('#notificationEmail').val() === null) {
                swal({
                    title: "E-Posta adresinizi yazınız!",
                    icon: "Error",
                    button: "Kapat",
                });
            }
            else if (!validateEmail($('#notificationEmail').val())) {
                swal({
                    title: "Geçersiz E-Posta adresi !",
                    icon: "Error",
                    button: "Kapat",
                });
            }

            else {
                const email = $('#notificationEmail').val();
                 $.ajax({
                     url: '@Url.Action("RegisterNotification" , "Home")',
                     type: 'Post',
                     data: { email  },
                    // contentType:"application/json",
                     success: function (data) {
                         console.log(data);
                         if (data.success) {
                             swal({
                                 title: data.resText,
                                 icon: "success",
                                 button: "Kapat",
                             });
                         } else {
                             console.log("-",data);
                             swal({
                                 title: "Bir sorunla karşılaştık!",
                                 text: data.resText,
                                 icon: "error",
                                 button: "Kapat",
                             });
                         }
                     },
                     error: function (data) {
                         console.log("---",data);
                            swal({
                                title: "Bir sorunla karşılaştık!",
                                text: data.resText,
                                icon: "error",
                                button: "Kapat",
                            });
                      }
                 });
            }
        }

        const validateEmail = (email) => {
          return email.match(
            /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          );
        };
    </script>
}