@{
    ViewData["Title"] = "TechnicalService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-title position-relative overflow-hidden shape-1 right">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-white p-md-5 p-3 d-inline-block">
                    <h1 class="font-w-3 mb-4"><span class="text-primary font-w-5">Teknik Servis Yönetimi</span> </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index","Home")"><i class="las la-home me-1"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Ürün ve Hizmetler</li>
                            <li class="breadcrumb-item active" aria-current="page">Teknik Servis Yönetimi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
</section>
<section class="hero-banner z-index-1 overflow-hidden py-8" data-bg-img="~/images/bg/04.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 mb-5 mb-lg-0 position-relative text-center" style="padding-bottom:5%">
                <!-- Image -->
                <img class="img-fluid topBottom" src="~/images/teknik.png" alt="">
            </div>
            <div class="col-12">
                <h1 class="mb-4">
                    Süreç Yönetim Yazılımı (BPM) @*<span class="font-w-6 px-2 text-primary text-uppercase my-2 d-inline-block" data-bg-color="rgba(0,73,208,0.05)">Büyütün</span>*@
                </h1>
                <hr class="lead mb-5 text-grey">
                <p>
                    Opalfa Yazılım'ın tamir ve teknik servis yönetimi yapmayı sağlayan programlarıyla hizmetlerinizi planlayabilir, ekibinizi ve müşteri ilişkilerinizi yönetebilir ve tüm servis sürecini baştan sona takip ve kontrol edebilirsiniz
                    <hr>
                    <section class="shape-1 right position-relative">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="price-table rounded bg-white box-shadow">

                                        <div class="price-value my-5 ps-5 d-flex justify-content-between align-items-center">
                                            <h4 class="mb-0 me-3 text-primary">Servisinizi verimli şekilde yönetin</h4>
                                        </div>

                                        <div class="price-list ps-5">
                                            <ul class="list-unstyled">
                                                <p class="mb-3">
                                                    Servisinizi verimli şekilde yönetin
                                                    Servisinizin günlük, haftalık ve aylık planını oluşturur, programınızı daha verimli yönetebilirsiniz. Standart hale getirdiğiniz iş süreciniz sayesinde zaman ve enerji kaybının önüne geçebilir, bu sayede maliyetlerinizi düşürüp karlılığınızı artırabilirsiniz.
                                                </p>
                                            </ul>
                                        </div>


                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mt-5">
                                    <div class="price-table rounded bg-dark">
                                        <div class="price-title ps-5 text-white">Müşterilerinizle mükemmel bir iletişim kurun</div>
                                        <div class="price-value my-5 ps-5 d-flex justify-content-between align-items-center">
                                        </div>

                                        <div class="price-list ps-5">
                                            <ul class="list-unstyled text-white">
                                                <p class="mb-3">
                                                    Müşterilerinizi, iletişim bilgileri ve şirketinizle olan etkileşimlerine dair detaylarla birlikte sisteminize ekleyip kolayca takip edebilir, müşterilerinizle kurduğunuzun iletişimin kalitesini artırabilirsiniz. 
                                                    Güncel tuttuğunuz müşteri verileri sayesinde müşterilerinize daha iyi bir hizmet sunar, ekibinizi daha doğru yönlendirirsiniz.
                                                </p>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                                    <div class="price-table rounded bg-white box-shadow">
                                        <div class="price-value my-5 ps-5 d-flex justify-content-between align-items-center">
                                            <h4 class="mb-0 me-3 text-primary">Servisinizi verimli şekilde yönetin</h4>
                                        </div>

                                        <div class="price-list ps-5">


                                            <p class="mb-3">
                                                Teknik servis ekibinizin güncel durumunu takip edebilir, uygun çalışanlara kolayca iş emri atayabilir, personelinizin performansını anlık olarak izleyebilirsiniz.
                                            </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>



                </p>
                <!-- Buttons -->@* <a href="#" class="btn btn-dark me-2" data-toggle="modal" onclick="RemoveFieldsModal()" data-target="#newCustomerModal">
                İletişime Geçin
                </a>*@
                @*<a href="#" class="btn btn-white ">
                Learn More
                </a>*@
            </div>
        </div>
    </div>
</section>


